<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wildsoft.shopping_mall.user.UserDao">

  <select id="getUserList"
    parameterType="com.wildsoft.shopping_mall.user.UserVO"
    resultType="com.wildsoft.shopping_mall.user.UserVO">
    <![CDATA[
      SELECT * FROM users ORDER BY id DESC
    ]]>
    <!-- <![CDATA[
      select * from users where 1=1
		]]>
		<if test="ch1=='nickname'">
		<![CDATA[
			and nickname like '%'||#{ch2}||'%'
		]]>
		</if>
		<if test="ch1=='role'">
		<![CDATA[
			and role like '%'||#{ch2}||'%'
		]]>
		</if>
		<if test="ch1=='platform'">
		<![CDATA[	
			and platform like '%'||#{ch2}||'%'
		]]>
		</if>
		<![CDATA[
			order by id desc
		]]> -->
  </select>

	<insert id="insertUserEmail" parameterType="com.wildsoft.shopping_mall.user.UserVO">
		insert into users (platform, email)	values (#{platform}, #{email})
	</insert>

	<update id="updateUserNickname" parameterType="com.wildsoft.shopping_mall.user.UserVO">
		update users set nickname = #{nickname} where email = #{email}
	</update>

	<select id="getUser"
    parameterType="com.wildsoft.shopping_mall.user.UserVO"
    resultType="com.wildsoft.shopping_mall.user.UserVO">
      select * from users
			<where>
				<choose>
					<when test="id == null or id == 0">
						email = #{email}
					</when>
					<otherwise>
						and id = #{id}
					</otherwise>
				</choose>
    	</where>
  </select>

	<!-- 배송지 -->
	<select id="getShippingInfosIsDefault" 
		parameterType="com.wildsoft.shopping_mall.user.ShippingInfoVO" 
		resultType="int">
			select count(*) from shipping_infos where id = #{id} and is_default = 1
	</select>

	<!-- 해당 사용자의 모든 배송지의 is_default를 0으로 변경 -->
	<update id="updateAllShippingInfosIsDefault" parameterType="com.wildsoft.shopping_mall.user.ShippingInfoVO">
		update shipping_infos set is_default = 0 where id = #{id}
	</update>

	<!-- 특정 배송지의 is_default를 1로 변경 -->
	<update id="updateShippingInfoIsDefault" parameterType="com.wildsoft.shopping_mall.user.ShippingInfoVO">
    update shipping_infos set is_default = 1 where shipping_id = #{shipping_id}
	</update>

	<insert id="insertShippingInfo" parameterType="com.wildsoft.shopping_mall.user.ShippingInfoVO">
		insert into shipping_infos (id, name, phone, address, is_default, nickname)	
		values (#{id}, #{name}, #{phone}, #{address}, #{is_default}, #{nickname})
	</insert>

	<select id="getShippingInfosList" parameterType="com.wildsoft.shopping_mall.user.ShippingInfoVO">
		select * from shipping_infos where id = #{id} order by shipping_id desc
	</select>

	<delete id="deleteShippingInfo" parameterType="com.wildsoft.shopping_mall.user.ShippingInfoVO">
		delete from shipping_infos where shipping_id = #{shipping_id}
	</delete>
</mapper>